body {
  font-family: 'Rubik', sans-serif;
  background: #FFAD5A;
}

.App {
  background-image: url(./images/background.jpg);
}
.App-title {
  margin: 10px;
}

.App-header {
  background-color: #1A0841;
  height: auto;
  padding: 20px;
  color: #fff;
  font-size: 1.2em;
} 

.App-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-logo {
  height: 76px;
}

.nav a {
  text-align: center;
  color: #fff;
  margin: 8.5px;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav hr {
  height: 3px;
  background: #FF5959;
  border: none;
}
/* .links a:active {

} */
.topSection {
  color: darkslategray;
  text-align: left;
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  width: 650px;
  margin: 7% auto;
  background: #FFAD5A;
  border-radius: 8.8px;
  border: #FF5959 solid 15px;
}
.section {
  color: #fff;
  text-align: left;
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  width: 650px;
  margin: 7% auto;
}

.section .sectionImage {
  width: 380px;
  margin: 48px auto;
}

.footer {
  height: 200px;
  color: whitesmoke;
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  .projectCard {
    display: flex;
    max-width: 312px;
    flex-direction: column;
    background: #fff;
    margin: 18px auto;
  }

  .App-logo {
    height: 50px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }
  
  .brand {
    font-size: 1em;
  }
}

.social {
  margin-right: 12px;
}

.footer a{
  text-decoration: none;
  color: #fff;
  text-align: center;

}

.footer {
  display: flex;
  justify-content: space-evenly;
}
